@model EFTest.Models.API_Model.MainMangaModel

@{
    ViewBag.Title = "SearchManga";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <a href="https://google.com" class="card-search">
        <img src="~/Content/assets/image/toji.jpg" alt="Bg_Image" class="img" />
        <div class="inner-search">
            <h2 class="title-search">Mit 117 Sachen durch Klugheimschen Basaltgebirge</h2>
            <time class="subtitle">03. März 2021</time>
        </div>
    </a>
</main>