/*Forgot Password text Box*/
.custom_input {
    display: flex;
    align-items: center;
    position: relative;
    max-width: 100%;
}

.input {
    font-size: 19px;
    font-weight: bold;
    font-style: italic;
    padding: 3px 18px;
    width: 100%;
    outline: none;
    background: #FFFFFF;
    color: #000000;
    border: 3px outset #E1E5E8;
    border-radius: 13px;
    box-shadow: 13px 10px 7px -6px #82B2C4;
    transition: .3s ease;
}

    .input:focus {
        background: #F2F2F2;
        border: 1px outset #000000;
        border-radius: 20px;
    }

    .input::placeholder {
        color: #31577D;
    }

.svg_icon {
    position: absolute;
    left: 23px;
    fill: #4660DC;
    width: 19px;
    height: 19px;
}

/*submit button*/
.postbutton {
    font-family: 'courier new';
    font-weight: bold;
    color: #FFFFFF !important;
    font-size: 18px;
    text-shadow: 2px 1px 0px #000000;
    box-shadow: 6px 3px 6px #262626;
    padding: 18px 36px;
    border-radius: 13px;
    border: 0px solid #FFFFFF;
    background: #000000;
    margin-top: 30px;
    margin-bottom: 50px;
}

    .postbutton:hover {
        color: #FFFFFF !important;
        background: #000000;
    }

/*OTP*/

.title {
    font-weight: 600;
    margin-top: 20px;
    font-size: 24px
}

.customBtn {
    border-radius: 0px;
    padding: 10px;
}

form input {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
}