.list-right-m {
    position: absolute;
    left: 1500px;
}

.RandomManga {
    width: 100%;
    height: 100Vh;
    position: relative;
}

.MainBox {
    width: 69%;
    height: 150px;
    border: black;
    border-style: solid;
    padding: 5px;
    display: flex;
    align-items: center;
    margin: 10px;
}

.dyImg {
    float: left;
    width: 18%;
    height: 100%;
    object-fit: cover;
    flex: 1;
    overflow: hidden;
}

    .dyImg img {
        height: 100%;
        background-size: cover;
        object-fit: cover;
    }

.text {
    flex: 1;
    padding: 10px; /* Add padding for better readability */
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.main {
    max-width: 1200px;
    margin: 0 auto;
}

/*Searched Manga List*/

main {
    max-width: 960px;
    margin: 0 auto;
}

.card-search {
    height: 400px;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    text-decoration: none;
    border: 4px solid #b0215e;
    margin-bottom: 20px;
    /*background-image: url('https://images.unsplash.com/photo-1516051662687-567d7c4e8f6a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1868&q=80');*/
    background-size: cover;
    height: 500px;
}

.inner-search {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    box-sizing: border-box;
    padding: 40px;
    width: 50%;
    height: 100%;
}

.title-search {
    font-size: 24px;
    color: black;
    text-align: center;
    font-weight: 700;
    color: #181818;
    text-shadow: 0px 2px 2px #a6f8d5;
    position: relative;
    margin: 0 0 20px 0;
}