@model  EFTest.Models.ForgotPassword.ForgotPassword

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_FPassLayout.cshtml";
}

<tr>
    <td align="center" class="vervelogoplaceholder" height="143"
        style="padding-top:0;
               padding-bottom:0;
               padding-right:0;
               padding-left:0;
               height:143px;
               vertical-align:middle;"
        valign="middle">
        <span class="sg-image">
            <a href="#" target="_blank">
                <img alt="Verve Wine" height="34" src="~/Content/assets/image/cry.png" style="height: 136px;" width="160">
            </a>
        </span>
    </td>
</tr>
<tr>
    <td class="one-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;background-color:#ffffff;">
        <table style="border-spacing:0;" width="100%">
            <tbody>
                <tr>
                    <td align="center" class="inner" style="padding-top:15px;padding-bottom:15px;padding-right:30px;padding-left:30px;" valign="middle"><span class="sg-image" data-imagelibrary="%7B%22width%22%3A%22255%22%2C%22height%22%3A93%2C%22alt_text%22%3A%22Forgot%20Password%22%2C%22alignment%22%3A%22%22%2C%22border%22%3A0%2C%22src%22%3A%22https%3A//marketing-image-production.s3.amazonaws.com/uploads/35c763626fdef42b2197c1ef7f6a199115df7ff779f7c2d839bd5c6a8c2a6375e92a28a01737e4d72f42defcac337682878bf6b71a5403d2ff9dd39d431201db.png%22%2C%22classes%22%3A%7B%22sg-image%22%3A1%7D%7D"><img alt="Forgot Password" class="banner" height="93" src="https://marketing-image-production.s3.amazonaws.com/uploads/35c763626fdef42b2197c1ef7f6a199115df7ff779f7c2d839bd5c6a8c2a6375e92a28a01737e4d72f42defcac337682878bf6b71a5403d2ff9dd39d431201db.png" style="border-width: 0px; margin-top: 30px; width: 255px; height: 93px;" width="255"></span></td>
                </tr>
                <tr>
                    <td class="inner contents center" style="padding-top:15px;padding-bottom:15px;padding-right:30px;padding-left:30px;text-align:left;">
                        <center>
                            <p class="h1 center" style="Margin:0;text-align:center;font-family:'flama-condensed','Arial Narrow',Arial;font-weight:100;font-size:30px;Margin-bottom:26px;">Forgot your password?</p>
                            <p class="description center" style="font-family:'Muli','Arial Narrow',Arial;Margin:0;text-align:center;max-width:320px;color:#a1a8ad;line-height:24px;font-size:15px;Margin-bottom:10px;margin-left: auto; margin-right: auto;"><span style="color: rgb(161, 168, 173); font-family: Muli, &quot;Arial Narrow&quot;, Arial; font-size: 15px; text-align: center; background-color: rgb(255, 255, 255);">That's okay, it happens! Provide us your number to reset your password.</span></p>
                            @using (Html.BeginForm("ForgotPassword", "LogIn", FormMethod.Post))
                            {
                                <div class="custom_input">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="svg_icon bi-telephone-fill" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"></path>
                                    </svg>
                                    <input class="input" type="text" placeholder="Number" name="MobileNumber" id="mobNum" maxlength="10">
                                </div>

                                <span class="sg-image">
                                    <button type="submit" class="postbutton">
                                        Reset your password
                                    </button>
                                </span>
                            }
                        </center>
                    </td>
                </tr>
            </tbody>
        </table>
    </td>
</tr>